.main-body {
    padding: 0; margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(77, 112, 107) ;
} 

#mainOverlay{
    background-color: rgb(255,255,255,0.5);
    height: fit-content;
    width:fit-content;
    margin: var(--navbar-height) 8rem;
    padding: 2vw;
    position:absolute;
    z-index:1;
    pointer-events: none;
    border-radius: 20px;
    box-shadow: 5px 5px 100px black;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

@media(max-width:1000px){
    #mainOverlay{
        flex-direction: column;
        gap: 2rem;
        width:80%;
    }
}

.projectLink{
    display: flex;
    flex-direction: column;
    background-color: rgb(111, 6, 6);
    border-radius: 30px;
    height: 30rem;
    width: 18rem;
    margin: 2rem;
}

@media (max-width:1000px){
    .projectLink{
        display: flex;
        /* flex-direction: row; */
        min-height: 10em;
        height: auto;
        width:80%;
        margin: auto;
        padding: 1em;
    }
}

.projectLink:hover{
    transform: scale(1.02);
    box-shadow: 5px 5px 10px yellow;
}
a{
    pointer-events: all;
    text-decoration: none;
}

b{
    display: flex;
    justify-content: center;
}

img{
    margin: 1rem;
    height: 10rem;
    width: 16rem;
    border-radius: 30px;
    display: flex;
    align-self: center;
}
@media(max-width:1000px){
    .projectLink img{
        max-height: 12em;
        max-width: 12em;
        height: 80%;
        width: 80%;
    }
}

.text{
    width: 20em;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: serif;
    color: white;
    margin: 1vw;
    width: fit-content;
    font-size: 1rem;
    
}
.subText{
    height: 11rem;
}
@media(max-width:1000px){
    .text{
        height: fit-content;
        margin:0;
        position:relative;
        /* width: 10em; */
    }
    .subText{
        height: fit-content;
    }
    .footerText{
        padding-top: 3em;
    }
}

.footerText{
    display: flex;
    font-family: serif;
    font-style: italic;
    color: white;
    font-size: 0.8rem;
    margin: 1vw;

}

@font-face{
    font-family: agbalumo;
    src: url("../fonts/Agbalumo/Agbalumo-Regular.ttf")
}